body{
    background: url("assets/image/background.jpg") no-repeat;
    background-size: 100% 100%;
    font-family: "roboto", sans-serif
}
.header{
    height: 110px;
    width: 100%;
    background: linear-gradient(
    to right,
    #0a848d 0%,
    #013131 50%,
    rgb(2, 49, 49) 50%,
    rgb(17, 147, 147) 100%);
    opacity: 0.9;
    text-align: center;
    color:white;
}
.header_fir{
    font-size: 40px;
    padding: 17px 0px 0px 0px;
    letter-spacing: 20px;
    color: #FDFCFA;
}
.header_sec{
    font-size: 30px;
    color: #FDFCFA;
    letter-spacing: 15px;
}
.header_white{
    background-color: #FDFCFA;
    height: 5px;
    width: 100%;
    opacity: 0.7;
}
.main{
    display: flex;
}
.tags{
    text-align: left;
    padding: 20px 0px 0px 40px ;
}
.tags_before{
    background-color:purple ;
    height: 10px;
    width: 10px;
}
.tags_we{
    background-color: pink;
    height: 20px;
    width: 5px;
    display: flex;
}
.tags_we-we{
    background-color:black;
    height: 20px;
    width: 25px;
    color: white;
    opacity: 0.7;
    margin-left: 20px;
}
.tags_are{
        background-color: pink;
        height: 20px;
        width: 5px;
        display: flex;
}
.tags_are-are{
    background-color:black;
    height: 20px;
    width: 27px;
    color: white;
    opacity: 0.7;
    margin-left: 20px;
}
.tags_here{
    background-color: pink;
        height: 20px;
        width: 5px;
        display: flex;
}
.tags_here-here{
    background-color:black;
    height: 20px;
    width: 33px;
    color: white;
    opacity: 0.7;
    margin-left: 20px;
}
.tags_for{
    background-color: pink;
        height: 20px;
        width: 5px;
        display: flex;
}
.tags_for-for{
    
    color: white;
    opacity: 0.7;
    margin-left: 20px;
}
.tags_for-for a{
    background-color:black;
    height: 20px;
    width: 170px;
    display: flex;
}
.cantainer_back{
    background: linear-gradient(
    to right,
    #0a848d 0%,
    #013131 50%,
    rgb(2, 49, 49) 50%,
    rgb(17, 147, 147) 100%);
        opacity: 0.9;
    height: 120px;
    width: 100%;
    position:absolute;
    overflow: auto;
}
.cantainer_back-text{   
    padding: 18px 0px 0px 60px;
    font-size: 35px;
    color: white;
}
.cantainer_level{
    opacity: 0.8;
    margin-top: 130px;
    padding: 0px 0px 0px 30px;
    color: white;
}
.cantainer_level-head{
    background-color: pink;
    height: 30px;
    width: 5px;
    display: flex;
}
.cantainer_level-head_head{
    font-size: 25px;
    margin-left: 20px;
    display: flex;
}
.cantainer_level-head a{
    background-color:black;
    height: 30px;
    width: 130px;
    display: flex;
    padding: 0px 0px 0px 5px;
    font-size: 25px;
}
.cantainer_level-text{
    font-size: 15px;
    width: 400px;
    text-align: justify;
    padding: 20px 0px 0px 0px;
    color: aliceblue;
}
.cantainer_right{
    padding-left: 350px;
}
.cantainer_hey-text{
    background-color: palevioletred;
    position: relative;
    padding: 30px 0px 0px 20px;
    margin-left: 10px;
    height: 460px;
    width: 150px;
    opacity: 0.9;
    font-size: 15px;
    text-align: center;
    color: white;
}
.cantainer_hey-text b{
    font-size: 35px;
    text-align: center;
    padding-left: 2px;
}
.cantainer_hey-text{
    padding-right: 20px;
}
.cantainer_logo{
    margin: 100px 40px 0px 0px;
    padding-left: 30px;
}
.cantainer_logo-text b{
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}
.cantainer_logo-text{
    color: white;
    font-size: 13px;
    margin: 0px 30px 0px 0px;
    
    width: 150px;
}
.cantainer_qrcode-img{
    padding-top:50px ;
}
.cantainer_qrcode-text{
    color: white;
    font-size:10px;
    padding-top: 5px;
}
.footer{
    display: flex;
}
.cantainer_contect{
    padding: 10px 0px 0px 30px;
    color: white;
}
.cantainer_contect-head{
    background-color: pink;
    height: 30px;
    width: 5px;
    display: flex;
}
.cantainer_contect-head_head{
    font-size: 25px;
    margin-left: 20px;
    display: flex;
}
.cantainer_contect-head a{
    background-color:black;
    height: 30px;
    width: 170px;
    display: flex;
    padding: 0px 0px 0px 5px;
    font-size: 25px;
}
.cantainer_contect-text{
    font-size: 15px;
    width: 400px;
    text-align: justify;
    padding: 10px 0px 0px 0px;
    color: aliceblue;
}
.cantainer_scontect{
    background: linear-gradient(
    to right,
    #0a848d 0%,
    #013131 50%,
    rgb(2, 49, 49) 50%,
    rgb(17, 147, 147) 100%); 
    height: 70px;
    width: 100%;
    margin-left: 50px;
    padding: 0px 0px 0px 0px;
    color: white;
}
.cantainer_scontect-address{
    padding: 8px 200px 10px 50px;
    box-sizing: border-box;
    text-align: right;
    margin-right: 20px;
    color: white;
}